In [1]:
import pandas as pd

In [2]:
group_people = {
    "first_name": ["Nusrat", "Mehedi", "Tahmid", "Farhana", "Sadia"],
    "last_name":  ["Jahan", "Hasan", "Rahman", "Akter", "Chowdhury"],
    "email": [
        "nusrat.jahan@brac.org",          # illustrative
        "mehedi.hasan@bkash.com",         # illustrative
        "tahmid.rahman@grameenphone.com", # illustrative
        "farhana.akter@robi.com.bd",      # illustrative
        "sadia.chowdhury@du.ac.bd",       # illustrative
    ],
    "company": ["BRAC", "bKash", "Grameenphone", "Robi", "University of Dhaka"],
}

In [3]:
df = pd.DataFrame(group_people)
df

  first_name  last_name                           email              company
0     Nusrat      Jahan           nusrat.jahan@brac.org                 BRAC
1     Mehedi      Hasan          mehedi.hasan@bkash.com                bKash
2     Tahmid     Rahman  tahmid.rahman@grameenphone.com         Grameenphone
3    Farhana      Akter       farhana.akter@robi.com.bd                 Robi
4      Sadia  Chowdhury        sadia.chowdhury@du.ac.bd  University of Dhaka

In [4]:
df.loc[len(df)] = ["takwoa", "ullah", "takowaullah@gmail.com", 'microsoft']

In [5]:
df

  first_name  last_name                           email              company
0     Nusrat      Jahan           nusrat.jahan@brac.org                 BRAC
1     Mehedi      Hasan          mehedi.hasan@bkash.com                bKash
2     Tahmid     Rahman  tahmid.rahman@grameenphone.com         Grameenphone
3    Farhana      Akter       farhana.akter@robi.com.bd                 Robi
4      Sadia  Chowdhury        sadia.chowdhury@du.ac.bd  University of Dhaka
5     takwoa      ullah           takowaullah@gmail.com            microsoft

In [6]:
df.loc[len(df),'first_name' ] = "maahim"
df

  first_name  last_name                           email              company
0     Nusrat      Jahan           nusrat.jahan@brac.org                 BRAC
1     Mehedi      Hasan          mehedi.hasan@bkash.com                bKash
2     Tahmid     Rahman  tahmid.rahman@grameenphone.com         Grameenphone
3    Farhana      Akter       farhana.akter@robi.com.bd                 Robi
4      Sadia  Chowdhury        sadia.chowdhury@du.ac.bd  University of Dhaka
5     takwoa      ullah           takowaullah@gmail.com            microsoft
6     maahim        NaN                             NaN                  NaN

In [7]:
df

  first_name  last_name                           email              company
0     Nusrat      Jahan           nusrat.jahan@brac.org                 BRAC
1     Mehedi      Hasan          mehedi.hasan@bkash.com                bKash
2     Tahmid     Rahman  tahmid.rahman@grameenphone.com         Grameenphone
3    Farhana      Akter       farhana.akter@robi.com.bd                 Robi
4      Sadia  Chowdhury        sadia.chowdhury@du.ac.bd  University of Dhaka
5     takwoa      ullah           takowaullah@gmail.com            microsoft
6     maahim        NaN                             NaN                  NaN

In [8]:
df

  first_name  last_name                           email              company
0     Nusrat      Jahan           nusrat.jahan@brac.org                 BRAC
1     Mehedi      Hasan          mehedi.hasan@bkash.com                bKash
2     Tahmid     Rahman  tahmid.rahman@grameenphone.com         Grameenphone
3    Farhana      Akter       farhana.akter@robi.com.bd                 Robi
4      Sadia  Chowdhury        sadia.chowdhury@du.ac.bd  University of Dhaka
5     takwoa      ullah           takowaullah@gmail.com            microsoft
6     maahim        NaN                             NaN                  NaN

In [9]:
new_info = {"first_name" : "karim", "last_name": "mia"}
new_recode = pd.DataFrame([new_info])
new_recode

  first_name last_name
0      karim       mia

In [10]:
df = pd.concat([df,new_recode])
df

  first_name  last_name                           email              company
0     Nusrat      Jahan           nusrat.jahan@brac.org                 BRAC
1     Mehedi      Hasan          mehedi.hasan@bkash.com                bKash
2     Tahmid     Rahman  tahmid.rahman@grameenphone.com         Grameenphone
3    Farhana      Akter       farhana.akter@robi.com.bd                 Robi
4      Sadia  Chowdhury        sadia.chowdhury@du.ac.bd  University of Dhaka
5     takwoa      ullah           takowaullah@gmail.com            microsoft
6     maahim        NaN                             NaN                  NaN
0      karim        mia                             NaN                  NaN

In [11]:
df.drop(6, inplace= True)
df

  first_name  last_name                           email              company
0     Nusrat      Jahan           nusrat.jahan@brac.org                 BRAC
1     Mehedi      Hasan          mehedi.hasan@bkash.com                bKash
2     Tahmid     Rahman  tahmid.rahman@grameenphone.com         Grameenphone
3    Farhana      Akter       farhana.akter@robi.com.bd                 Robi
4      Sadia  Chowdhury        sadia.chowdhury@du.ac.bd  University of Dhaka
5     takwoa      ullah           takowaullah@gmail.com            microsoft
0      karim        mia                             NaN                  NaN

In [12]:
df.reset_index(inplace=True, drop=True)
df

  first_name  last_name                           email              company
0     Nusrat      Jahan           nusrat.jahan@brac.org                 BRAC
1     Mehedi      Hasan          mehedi.hasan@bkash.com                bKash
2     Tahmid     Rahman  tahmid.rahman@grameenphone.com         Grameenphone
3    Farhana      Akter       farhana.akter@robi.com.bd                 Robi
4      Sadia  Chowdhury        sadia.chowdhury@du.ac.bd  University of Dhaka
5     takwoa      ullah           takowaullah@gmail.com            microsoft
6      karim        mia                             NaN                  NaN

In [13]:
df['gender'] = ['female', 'male','male','female','female','male','male' ]
df

,first_name,last_name,email,company,gender
0,Nusrat,Jahan,nusrat.jahan@brac.org,BRAC,female
1,Mehedi,Hasan,mehedi.hasan@bkash.com,bKash,male
2,Tahmid,Rahman,tahmid.rahman@grameenphone.com,Grameenphone,male
3,Farhana,Akter,farhana.akter@robi.com.bd,Robi,female
4,Sadia,Chowdhury,sadia.chowdhury@du.ac.bd,University of Dhaka,female
5,takwoa,ullah,takowaullah@gmail.com,microsoft,male
6,karim,mia,NaN,NaN,male

In [14]:
df["full_name"] = df["first_name"] + " " + df["last_name"]
df

,first_name,last_name,email,company,gender,full_name
0,Nusrat,Jahan,nusrat.jahan@brac.org,BRAC,female,Nusrat Jahan
1,Mehedi,Hasan,mehedi.hasan@bkash.com,bKash,male,Mehedi Hasan
2,Tahmid,Rahman,tahmid.rahman@grameenphone.com,Grameenphone,male,Tahmid Rahman
3,Farhana,Akter,farhana.akter@robi.com.bd,Robi,female,Farhana Akter
4,Sadia,Chowdhury,sadia.chowdhury@du.ac.bd,University of Dhaka,female,Sadia Chowdhury
5,takwoa,ullah,takowaullah@gmail.com,microsoft,male,takwoa ullah
6,karim,mia,NaN,NaN,male,karim mia

In [15]:
df.drop('full_name', axis=1, inplace=True)
df

,first_name,last_name,email,company,gender
0,Nusrat,Jahan,nusrat.jahan@brac.org,BRAC,female
1,Mehedi,Hasan,mehedi.hasan@bkash.com,bKash,male
2,Tahmid,Rahman,tahmid.rahman@grameenphone.com,Grameenphone,male
3,Farhana,Akter,farhana.akter@robi.com.bd,Robi,female
4,Sadia,Chowdhury,sadia.chowdhury@du.ac.bd,University of Dhaka,female
5,takwoa,ullah,takowaullah@gmail.com,microsoft,male
6,karim,mia,NaN,NaN,male

In [ ]:
df.gender.map()