In [22]:
import pandas as pd

In [23]:
data = {
    "x" : [2, 4, 6, 8, 10],
    "y" : [40, 50, 60, 70, 80]
}

In [24]:
df = pd.DataFrame(data)
df

    x   y
0   2  40
1   4  50
2   6  60
3   8  70
4  10  80

In [25]:
df.cov()

      x      y
x  10.0   50.0
y  50.0  250.0

In [27]:
df["x"].cov(df["y"])

np.float64(50.0)

In [28]:
df["x"].corr(df["y"])

np.float64(1.0)

In [31]:
df.corr(method="pearson")

     x    y
x  1.0  1.0
y  1.0  1.0

In [30]:
corrrelation_martix = df.corr(method="pearson")

In [35]:
import matplotlib.pyplot as plt
import seaborn as sns

In [36]:
plt.figure(figsize=(6,5))

In [ ]:
sns.heatmap(corrrelation_martix, annot=True, cmap= "coolwarm", )