In [4]:
import pandas as pd

In [ ]:
# iloc 
# exclusive

df = pd.DataFrame({
    "Name" : ["alic", "bob", "carlie", "alen"],
    "age" : [20, 35, 25, 40],
    "city" : ["dhaka","rajshahi","sirajgonj","bogura"]
})
print(df)

     Name  age       city
0    alic   20      dhaka
1     bob   35   rajshahi
2  carlie   25  sirajgonj
3    alen   40     bogura

In [ ]:
# iloc slicing
print(df.iloc[0:3])

     Name  age       city
0    alic   20      dhaka
1     bob   35   rajshahi
2  carlie   25  sirajgonj

In [7]:
print(df.iloc[:])

     Name  age       city
0    alic   20      dhaka
1     bob   35   rajshahi
2  carlie   25  sirajgonj
3    alen   40     bogura

In [10]:
print(df.iloc[0:3:2])

     Name  age       city
0    alic   20      dhaka
2  carlie   25  sirajgonj

In [14]:
#colum slicing
print(df.iloc[0:3, 1:])

   age       city
0   20      dhaka
1   35   rajshahi
2   25  sirajgonj

In [13]:
print(df.iloc[0:3, :])

     Name  age       city
0    alic   20      dhaka
1     bob   35   rajshahi
2  carlie   25  sirajgonj