In [1]:
import pandas as pd

In [ ]:
# loc 
# label-based indexing
# enclusive
df = pd.DataFrame({
    "Name" : ["alic", "bob", "carlie", "alen"],
    "age" : [20, 35, 25, 40],
    "city" : ["dhaka","rajshahi","sirajgonj","bogura"],
}, index=["a","b","c","d"])
print(df)

     Name  age       city
a    alic   20      dhaka
b     bob   35   rajshahi
c  carlie   25  sirajgonj
d    alen   40     bogura

In [3]:
print(df["Name"])

a      alic
b       bob
c    carlie
d      alen
Name: Name, dtype: object

In [4]:
print(df.loc[['a','c']])

     Name  age       city
a    alic   20      dhaka
c  carlie   25  sirajgonj

In [5]:
# loc sliceing
print(df.loc[:])

     Name  age       city
a    alic   20      dhaka
b     bob   35   rajshahi
c  carlie   25  sirajgonj
d    alen   40     bogura

In [6]:
print(df.loc['a',['Name','city']])

Name     alic
city    dhaka
Name: a, dtype: object

In [7]:
print(df.loc[:,['Name','city']])

     Name       city
a    alic      dhaka
b     bob   rajshahi
c  carlie  sirajgonj
d    alen     bogura

In [8]:
print(df.loc[df['age'] > 20])

     Name  age       city
b     bob   35   rajshahi
c  carlie   25  sirajgonj
d    alen   40     bogura

In [11]:
print(df.loc['b':'d','Name':'age'])

     Name  age
b     bob   35
c  carlie   25
d    alen   40