In [3]:
import pandas as pd

In [4]:
# loc 
# label-based indexing
# enclusive
df = pd.DataFrame({
    "Name" : ["alic", "bob", "carlie", "alen"],
    "age" : [20, 35, 25, 40],
    "city" : ["dhaka","rajshahi","sirajgonj","bogura"],
}, index=["a","b","c","d"])
df

     Name  age       city
a    alic   20      dhaka
b     bob   35   rajshahi
c  carlie   25  sirajgonj
d    alen   40     bogura

In [12]:
df["Name"]

a      alic
b       bob
c    carlie
d      alen
Name: Name, dtype: object

In [13]:
df.loc[['a','c']]

     Name  age       city
a    alic   20      dhaka
c  carlie   25  sirajgonj

In [14]:
# loc sliceing
df.loc[:]

     Name  age       city
a    alic   20      dhaka
b     bob   35   rajshahi
c  carlie   25  sirajgonj
d    alen   40     bogura

In [15]:
df.loc['a',['Name','city']]

Name     alic
city    dhaka
Name: a, dtype: object

In [16]:
df.loc[:,['Name','city']]

     Name       city
a    alic      dhaka
b     bob   rajshahi
c  carlie  sirajgonj
d    alen     bogura

In [17]:
df.loc[df['age'] > 20]

     Name  age       city
b     bob   35   rajshahi
c  carlie   25  sirajgonj
d    alen   40     bogura

In [18]:
df.loc['b':'d','Name':'age']

     Name  age
b     bob   35
c  carlie   25
d    alen   40