In [22]:
import pandas as pd

Update Row

In [23]:
group_people = {
    "first_name": ["Nusrat", "Mehedi", "Tahmid", "Farhana", "Sadia"],
    "last_name":  ["Jahan", "Hasan", "Rahman", "Akter", "Chowdhury"],
    "email": [
        "nusrat.jahan@brac.org",          # illustrative
        "mehedi.hasan@bkash.com",         # illustrative
        "tahmid.rahman@grameenphone.com", # illustrative
        "farhana.akter@robi.com.bd",      # illustrative
        "sadia.chowdhury@du.ac.bd",       # illustrative
    ],
    "company": ["BRAC", "bKash", "Grameenphone", "Robi", "University of Dhaka"],
}

In [24]:
df = pd.DataFrame(group_people)
df

  first_name  last_name                           email              company
0     Nusrat      Jahan           nusrat.jahan@brac.org                 BRAC
1     Mehedi      Hasan          mehedi.hasan@bkash.com                bKash
2     Tahmid     Rahman  tahmid.rahman@grameenphone.com         Grameenphone
3    Farhana      Akter       farhana.akter@robi.com.bd                 Robi
4      Sadia  Chowdhury        sadia.chowdhury@du.ac.bd  University of Dhaka

In [25]:
df.loc[2,'first_name'] = "takowa"
df

  first_name  last_name                           email              company
0     Nusrat      Jahan           nusrat.jahan@brac.org                 BRAC
1     Mehedi      Hasan          mehedi.hasan@bkash.com                bKash
2     takowa     Rahman  tahmid.rahman@grameenphone.com         Grameenphone
3    Farhana      Akter       farhana.akter@robi.com.bd                 Robi
4      Sadia  Chowdhury        sadia.chowdhury@du.ac.bd  University of Dhaka

In [26]:
df.loc[2] = ["Takowa",  "Ullah",  "takowa420@gmail.com", "google"]
df

  first_name  last_name                      email              company
0     Nusrat      Jahan      nusrat.jahan@brac.org                 BRAC
1     Mehedi      Hasan     mehedi.hasan@bkash.com                bKash
2     Takowa      Ullah        takowa420@gmail.com               google
3    Farhana      Akter  farhana.akter@robi.com.bd                 Robi
4      Sadia  Chowdhury   sadia.chowdhury@du.ac.bd  University of Dhaka

In [27]:
df["email"].str.upper()

0        NUSRAT.JAHAN@BRAC.ORG
1       MEHEDI.HASAN@BKASH.COM
2          TAKOWA420@GMAIL.COM
3    FARHANA.AKTER@ROBI.COM.BD
4     SADIA.CHOWDHURY@DU.AC.BD
Name: email, dtype: object

In [28]:
df

  first_name  last_name                      email              company
0     Nusrat      Jahan      nusrat.jahan@brac.org                 BRAC
1     Mehedi      Hasan     mehedi.hasan@bkash.com                bKash
2     Takowa      Ullah        takowa420@gmail.com               google
3    Farhana      Akter  farhana.akter@robi.com.bd                 Robi
4      Sadia  Chowdhury   sadia.chowdhury@du.ac.bd  University of Dhaka

In [29]:
df["email"] = df["email"].str.upper()
df

  first_name  last_name                      email              company
0     Nusrat      Jahan      NUSRAT.JAHAN@BRAC.ORG                 BRAC
1     Mehedi      Hasan     MEHEDI.HASAN@BKASH.COM                bKash
2     Takowa      Ullah        TAKOWA420@GMAIL.COM               google
3    Farhana      Akter  FARHANA.AKTER@ROBI.COM.BD                 Robi
4      Sadia  Chowdhury   SADIA.CHOWDHURY@DU.AC.BD  University of Dhaka

In [30]:
df["email"] = df["email"].str.lower()
df

  first_name  last_name                      email              company
0     Nusrat      Jahan      nusrat.jahan@brac.org                 BRAC
1     Mehedi      Hasan     mehedi.hasan@bkash.com                bKash
2     Takowa      Ullah        takowa420@gmail.com               google
3    Farhana      Akter  farhana.akter@robi.com.bd                 Robi
4      Sadia  Chowdhury   sadia.chowdhury@du.ac.bd  University of Dhaka

In [31]:
df.columns = ["First Name", "Last Name", "email", 'Company']
df

  First Name  Last Name                      email              Company
0     Nusrat      Jahan      nusrat.jahan@brac.org                 BRAC
1     Mehedi      Hasan     mehedi.hasan@bkash.com                bKash
2     Takowa      Ullah        takowa420@gmail.com               google
3    Farhana      Akter  farhana.akter@robi.com.bd                 Robi
4      Sadia  Chowdhury   sadia.chowdhury@du.ac.bd  University of Dhaka

In [35]:
df.rename(columns={"First Name" : "First", 'Last Name' : 'Last'}, inplace = True)

In [36]:
df

     First       Last                      email              Company
0   Nusrat      Jahan      nusrat.jahan@brac.org                 BRAC
1   Mehedi      Hasan     mehedi.hasan@bkash.com                bKash
2   Takowa      Ullah        takowa420@gmail.com               google
3  Farhana      Akter  farhana.akter@robi.com.bd                 Robi
4    Sadia  Chowdhury   sadia.chowdhury@du.ac.bd  University of Dhaka